aside {
    border-top: 1px solid #e9f1f7;
    padding-top: 48px;
    position: relative;
}

aside ul {
    list-style: circle;
    padding-left: 16px;
}

aside .btn {
    margin-top: 24px;
    display: inline-block;
}


#aside_path {
    position: absolute;
    width: 210px;
    z-index: -1;
    top: -220px;
}

#face {
    border-radius: 50%;
    margin-top: 28px;
    width: 180px;
    display: block;
}



@media only screen and (min-width: 850px) {  


    aside { 
        border-top: none;
        border-left: 1px solid #e9f1f7;
        padding-top: 0;
        padding-left: 48px;
        max-width: 90%;
    }

    #aside_path {
        width: 260px;
        top: -173px;
        left: 200px;
    }
    
    


}
