nav ul li {
    display: inline-block;
    color: #8BA6B4;
    text-transform: uppercase;
    padding: 24px;
    font-size: 15px;
}



@media only screen and (min-width: 850px) { 
    nav ul li { 
        font-size: 18px;
        letter-spacing: 0.03rem;
    }

    nav ul {
        text-align: left;
    }

    nav ul li:first-child { 
        padding-left: 0;
    }




}


