{% include head.html %}

<header>

{% include nav.html %}
      
        
      <div class="header__content">

        <svg id="path_1" xmlns="http://www.w3.org/2000/svg" width="363.552" height="376.373" viewBox="0 0 363.552 376.373">
          <path id="Path_12" data-name="Path 12" d="M181.776-93.5C363.456-98.82,363.552-1.33,363.552,68.481s-57.823,151.1-174.481,200.452c-64.42,19.112-86.9,21-133.673-11.938C5.994,215.678,0,111.484,0,68.481,0-1.33.1-88.179,181.776-93.5Z" transform="translate(0 93.708)" fill="#fef7f2"/>
       </svg>
        

        <span>👋</span>
        <h1>{{ page.title }}</h1>
        <p>{{ page.intro }}</p>

      </div>

      <div class="header__images">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="300px" height="200" viewBox="0 0 664.918 577.793">
          <defs>
            <filter id="Rectangle_27" x="231.576" y="196.67" width="92.04" height="36.381" filterUnits="userSpaceOnUse">
              <feOffset dy="3" input="SourceAlpha"/>
              <feGaussianBlur stdDeviation="3" result="blur"/>
              <feFlood flood-opacity="0.161"/>
              <feComposite operator="in" in2="blur"/>
              <feComposite in="SourceGraphic"/>
            </filter>
          </defs>
          <g id="Layer_2" data-name="Layer 2" transform="matrix(0.993, -0.122, 0.122, 0.993, 0, 74.047)">
            <g id="Layer_1" data-name="Layer 1" transform="translate(0 0)">
              <path id="Path_8" data-name="Path 8" d="M607.595,28.306V69.83H0V28.306A28.306,28.306,0,0,1,28.306,0H579.288A28.306,28.306,0,0,1,607.595,28.306Z" transform="translate(0 0)" fill="#f9f5f4"/>
              <path id="Path_9" data-name="Path 9" d="M607.595,0V408.672a28.306,28.306,0,0,1-28.306,28.306H28.306A28.306,28.306,0,0,1,0,408.672V0Z" transform="translate(0 69.83)" fill="#fff"/>
              <ellipse id="Ellipse_4" data-name="Ellipse 4" cx="9.935" cy="10.367" rx="9.935" ry="10.367" transform="translate(40.602 24.189)" fill="#ff4949"/>
              <ellipse id="Ellipse_5" data-name="Ellipse 5" cx="9.935" cy="10.367" rx="9.935" ry="10.367" transform="translate(66.519 24.189)" fill="#f7b834"/>
              <ellipse id="Ellipse_6" data-name="Ellipse 6" cx="9.935" cy="10.367" rx="9.935" ry="10.367" transform="translate(92.435 24.189)" fill="#4cbf3b"/>
              <g id="Group_24" data-name="Group 24" transform="translate(0 437.699)" opacity="0.5">
                <path id="Path_10" data-name="Path 10" d="M0,41.524V0H607.595V41.524A28.306,28.306,0,0,1,579.288,69.83H28.306A28.306,28.306,0,0,1,0,41.524Z" transform="translate(0 0)" fill="#f9f5f4"/>
              </g>
              <rect id="Rectangle_22" data-name="Rectangle 22" width="73.43" height="10.367" rx="2.97" transform="translate(40.602 462.175)" fill="#ead5c3" opacity="0.4"/>
              <rect id="Rectangle_23" data-name="Rectangle 23" width="73.43" height="10.367" rx="2.97" transform="translate(131.31 462.175)" fill="#ead5c3" opacity="0.4"/>
              <rect id="Rectangle_24" data-name="Rectangle 24" width="73.43" height="10.367" rx="2.97" transform="translate(222.017 462.175)" fill="#ead5c3" opacity="0.4"/>
              <rect id="Rectangle_25" data-name="Rectangle 25" width="73.43" height="9.503" rx="2.97" transform="translate(40.602 165.865)" fill="#ead5c3" opacity="0.4"/>
              <rect id="Rectangle_26" data-name="Rectangle 26" width="73.43" height="9.503" rx="2.97" transform="translate(131.31 165.865)" fill="#ead5c3" opacity="0.4"/>
              <g transform="matrix(0.99, 0.12, -0.12, 0.99, 9.02, -73.5)" filter="url(#Rectangle_27)">
                <rect id="Rectangle_27-2" data-name="Rectangle 27" width="73.43" height="9.503" rx="2.97" transform="matrix(0.99, -0.12, 0.12, 0.99, 240.58, 211.62)" fill="#ead5c3" opacity="0.4"/>
              </g>
              <rect id="Rectangle_28" data-name="Rectangle 28" width="73.43" height="10.367" rx="2.97" transform="translate(40.602 194.373)" fill="#ead5c3" opacity="0.4"/>
              <rect id="Rectangle_29" data-name="Rectangle 29" width="73.43" height="10.367" rx="2.97" transform="translate(131.31 194.373)" fill="#ead5c3" opacity="0.4"/>
              <rect id="Rectangle_30" data-name="Rectangle 30" width="73.43" height="10.367" rx="2.97" transform="translate(222.017 194.373)" fill="#ead5c3" opacity="0.4"/>
              <rect id="Rectangle_31" data-name="Rectangle 31" width="232.383" height="10.367" rx="2.97" transform="translate(41.466 266.075)" fill="#ead5c3" opacity="0.4"/>
              <rect id="Rectangle_32" data-name="Rectangle 32" width="232.383" height="10.367" rx="2.97" transform="translate(41.466 291.991)" fill="#ead5c3" opacity="0.4"/>
              <rect id="Rectangle_33" data-name="Rectangle 33" width="232.383" height="10.367" rx="2.97" transform="translate(41.466 317.907)" fill="#ead5c3" opacity="0.4"/>
              <rect id="Rectangle_34" data-name="Rectangle 34" width="232.383" height="10.367" rx="2.97" transform="translate(41.466 240.158)" fill="#ead5c3" opacity="0.4"/>
              <path id="Path_11" data-name="Path 11" d="M75,0l37.507,64.949L150,129.9H0L37.492,64.949Z" transform="translate(356.22 176.159)" fill="#ead5c3"/>
              <ellipse id="Ellipse_7" data-name="Ellipse 7" cx="28.94" cy="28.508" rx="28.94" ry="28.508" transform="translate(477.725 191.781)" fill="#ead5c3"/>
            </g>
          </g>
      </svg>

      <svg id="header__images__bg__2" xmlns="http://www.w3.org/2000/svg" width="168.822" height="154.628" viewBox="0 0 168.822 154.628">
          <path id="Path_4" data-name="Path 4" d="M36.732-15.387c12.113,0,39.574,1.114,57.411,16.542,14.579,12.61,20.119,25.056,21.668,49.5,1.387,31.872-41.962,54.283-79.079,54.127s-62.159-1.552-61.99-64.315S14.547-15.387,36.732-15.387Z" transform="translate(53.164 21.969) rotate(16)" fill="#fef7f2"/>
      </svg>

      <svg id="header__images__bg__1" xmlns="http://www.w3.org/2000/svg" width="426.701" height="393.925" viewBox="0 0 426.701 393.925">
          <path id="Path_5" data-name="Path 5" d="M-7.637-113.156c42.008,0,168.681,21.37,160,131.233S46.632,194.669,4.624,194.669-123.007,72.71-163.571,26.529C-208.247-25.957-211.724-44.7-189.419-75.029-163.963-109.645-30.07-113.156-7.637-113.156Z" transform="translate(248.638 164.682) rotate(16)" fill="#fef7f2"/>
        </svg>
        
      <svg id="arrow_svg" xmlns="http://www.w3.org/2000/svg" width="139.431" height="279.385" viewBox="0 0 139.431 279.385">
          <g id="Group_31" data-name="Group 31" transform="translate(-769.967 -1277.749)" opacity="0.391">
            <path id="Path_13" data-name="Path 13" d="M-9884.224-508.422s153.493,67.965,124.177,259.521" transform="translate(10655 1788)" fill="none" stroke="#707070" stroke-width="4" stroke-dasharray="7"/>
            <path id="Path_14" data-name="Path 14" d="M-9798.625-324.264l11.432,16.479,14.58-14.231" transform="translate(10680.613 1861.836)" fill="none" stroke="#707070" stroke-width="4"/>
          </g>
      </svg>
        
        
      </div>



</header>


<section id="home">

  <main>

  {{ content}}

  </main>

  {% include sidebar.html %}


</section>


{% include footer.html %}

